/* Cool sci-fi font like from Aliens */
@font-face {
  font-family: "Eurostile";
  src: url("/src/assets/fonts/eurostile.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Remove default list styles */
ol,
ul {
  list-style: none;
}

/* Reset the default hyperlink style */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove table border-collapse */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset input and button style */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1;
}

/* Remove button default padding and border */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/* Reset image border */
img {
  border-style: none;
}

/* Remove default form element outline */
:focus {
  outline: none;
}

/* Remove user agent stylesheet */
body {
  font-family: "Eurostile", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: var(--font-size-m);
  background-color: var(--background-color);
  color: var(--space-blue);
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

body > #root {
  height: 100%;
}

h1 {
  font-size: var(--font-size-xl);
}
h2 {
  font-size: var(--font-size-l);
}
p {
  font-size: var(--font-size-m);
}

:root {
  --mars-red: #ff5733;
  --space-blue: #0a7fd9;
  --xenomorph-black: #000000;
  --alien-green: #00ff00;
  --futuristic-silver: #c0c0c0;
  --background-color: #242424;
  --error-color: rgba(255, 0, 0);
  --galaxy-white: #ffffff;
  --rabbit-purple: purple;
  --warning-yellow: #f9c22e;

  --font-size-xxxl: 4rem;
  --font-size-xxl: 2rem;
  --font-size-xl: 1.75rem;
  --font-size-l: 1.5rem;
  --font-size-m: 1.25rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.75rem;
}
